@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: rgb(66, 92, 148);
    --primary-color-dark: rgb(46, 65, 107);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'open sans';
}

h1 {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--primary-color-dark);
}
ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}


li {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items:start;
    align-self: flex-start;
    text-align: start;
    list-style: none;
    border-bottom: 1px solid #000;
    margin: 5px 0;
    /* padding: 10px; */
    width: 100%;
}

li button {
    margin-left: 5px;;
}


div {
    display: flex;
    align-items: center;
    gap: 8px;
}

input {
    width: 70%;
    height: 2.0rem;
    font-size: 1.2rem;
}

.btn-tarefa {
    width: 30%;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
}

.btn-tarefa:hover {
    width: 30%;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background: var(--primary-color-dark);
    border: none;
    cursor: pointer;
}

.container {
    max-width: 640px;
    min-height: 70vh;
    margin: 50px auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    font-size: 1.3em;
    line-height: 1.5em;
    border-radius: 10px;
    text-align: center;
    border: double 5px #000;
}

 .apagar {
    font-size: 1.2rem;
    min-height: 2rem;
    min-width: 2rem;
    cursor: pointer;
    border: none;
}

.apagar:hover {
    font-size: 1.2rem;
    min-height: 2rem;
    min-width: 2rem;
    cursor: pointer;
    background:rgb(255, 219, 219);
}

.editar {
    font-size: 1.2rem;
    min-height: 2rem;
    min-width: 2rem;
    cursor: pointer;
    border: none;
}

.editar:hover {
    font-size: 1.2rem;
    min-height: 2rem;
    min-width: 2rem;
    cursor: pointer;
    background:rgb(236, 227, 179);
}